
@font-face {
    font-family: Brandon;
    src: url(../fonts/Brandon/Brandon_bld.otf);
}

html, body {
	/**/margin: 0 0;
	padding: 0 0;
	text-align: center;
	/*font-size: 0;*/
}

h1{
	font-family: Brandon, Helvetica, Arial;
	padding: 40px;
}

small{
	font-size: 12px;
	font-weight: normal;
	color: #0f0f0f;
}

div{
	font-family: Helvetica, Arial,'Brandon';
	background-color: #fff;
	color: #aaa;
/*	display: block;*/
	margin: -30px 0px 0px;
	padding: 30px;
}

p{
	font-family: Helvetica, Arial,'Brandon';
	background-color: #fff;
	color: #aaa;
	display: block;
	padding: 10px;
}

ul{
	margin: 0px auto 35px;
	display: table;
}

li{
	font-family: Helvetica, Arial,'Brandon';
	list-style-type: none;
	float: left;
	padding: 10px 15px;
}

a:link,
a:visited,
a:hover,
a:active{
	color: #222;
	text-decoration: none;
}

#instafeed{
	height: 275px;
	width: 95%;
	overflow: hidden;
}